<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
    <add name="MySQL Data Provider" 
         connectionString="Server=localhost;Database=rednetnorf;Uid=root;Pwd="
         invariant="MySql.Data.MySqlClient" 
         description=".Net Framework Data Provider for MySQL" 
         type="MySql.Data.MySqlClient.MySqlClientFactory, mysql.data" />
</connectionStrings>
  <entityFramework>
  <contexts>
    <context type="Rednetnorf.DAL.UserContext, Rednetnorf">
      <databaseInitializer type="Rednetnorf.DAL.UserInitializer, Rednetnorf" />
    </context>
  </contexts>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
    <parameters>
      <parameter value="v11.0" />
    </parameters>
  </defaultConnectionFactory>
  <providers>
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  </providers>
</entityFramework>
</configuration>